extends base
block content
  div.container
    div.row
      div.col
        div.reset-message.alert(style='display:none;')
        h2.heading-secondary.ma-bt-lg Enter your New Password below
        form.form.form--login
          .form__group
            label.form__label(for='password1') New Password
            input#email.form__input(type='password', placeholder='••••••••', required)
          .form__group.ma-bt-md
            label.form__label(for='password2') Confirm new Password
            input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          .form__group
            button.btn.btn--green Login
 
  script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')
  script.
    $('.btn').on('submit', function(e) {
      e.preventDefault();
      if(window.location.pathname.split("/")[2]){
        $.post(`/verify-email/${token}`, {
        password1: $('#email').val(),
        password2: $('#password').val()
      }, function(resp) {
        if (resp.status == 'ok') {
          $('.reset-message').removeClass('alert-danger').addClass('alert-success').show().text(resp.message);
          $('#resetPasswordForm').remove();
        } else {
          $('.reset-message').removeClass('alert-success').addClass('alert-danger').show().text(resp.message);
        }
      })
      }
 
    });